clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
ultralytics
librosa
supervision
fire
fvcore
hydra-core
einops
timm
h5py
wandb
simplejson
tensorboard
pathtree
gdown
ipdb
moviepy